<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="class_A.css
	</head>
	<body>
		<h1 class="class_A">good morning</h1>
		<h2> good afternoon </h2>
		<h3 class="class_A">Good night</h>
body {
	font-style: italic;
	text-align: center;
}
.class_A {
color: blue;
}
<link rel = "stylesheet" type="text/css" href = "basic_css_2.css">
p {
	color: orange;
	background: black;
	font-style: bold;
	text-align: center;
}
		<p> This is example two </p>
	</body>
</html>