h1 {
    font-family: "arial";
    font-size: 35px;
}

h1 {
    border: 45px solid rgba(247, 142, 6, 0.883);
    border-radius: 20px 20px 20px 20px;
    margin: 15px;
    width: 25px 25px 25px;
}

#rcorners1 {
    border-radius: 15px 50px 30px 5px;
}
