h1 {
    font-family: "arial";
    font-size: 12px;
}

h1 {
    border: 5px solid red;
}

#rcorners1 {
    border-radius: 15px 50px 30px 5px;
}
<form action="/action.page.php"
    <label for= "name"first name:</label>
    <input type="image" width="48">
    margin: 25px 50px 75px 100px;